* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.654);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: palevioletred;
}
.box {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  position: absolute;
}
.box1 {
  width: 450px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.546);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.box2 {
  width: 450px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.338);
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}
.player {
  text-align: center;
  margin-top: 60px;
  font-size: 25px;
  font-weight: 550;
  color: black;
}
.score {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  margin-top: 20px;
  color: rgb(208, 64, 88);
}

.newgame {
  width: 130px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 385px;
  border: 0;
  color: rgba(0, 0, 0, 0.669);
  font-weight: 550;
  border-radius: 20px;
}
.current {
  width: 120px;
  height: 65px;
  background-color: rgb(213, 53, 80);
  border-radius: 10px;
}

.current0 {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  color: white;
}

.current {
  position: absolute;
  margin-top: 130px;
  margin-left: 165px;
}
.roll {
  width: 130px;
  height: 30px;
  position: absolute;
  top: 300px;
  left: 385px;
  border: 0;
  color: rgba(0, 0, 0, 0.669);
  font-weight: 550;
  border-radius: 20px;
}
.hold {
  width: 130px;
  height: 30px;
  position: absolute;
  top: 350px;
  left: 385px;
  border: 0;
  color: rgba(0, 0, 0, 0.669);
  font-weight: 550;
  border-radius: 20px;
}
